<h3 id="{{ laskenta }}">{{ laskenta }}</h3>
{% if data %}
<table class="talvilintulaskenta">
    <thead>    
        <tr>
            <th>Laskentareitti</th>
            <th class="pvm">Pvm</th>
            <th>Laskija(t)</th>
            <th>Lajeja</th>
            <th>Yksilöitä</th>
        </tr>
    </thead>
    <tbody>        
        {% for key, value in data |cast_to_array %}
        <tr>
            <td><a href="{{ attribute(value.1.aggregateBy, 'document.documentId') }}" target="_blank">{{ attribute(value.1.aggregateBy, 'document.namedPlace.name') }}</a></td>
            <td class="pvm">{{ value.1.oldestRecord }}</td>
            <td>{{ value.1.team }}</td>
            <td>{{ value.1.count }}</td>
            <td>{{ value.1.individualCountSum}}</td>
        </tr>    
        {% endfor %}
    </tbody>    
    <tfoot>
        <tr>
            <td>Yhteensä {{ aggdata.censusCount }} reittiä</td>
            <td></td>
            <td style="text-align: right">keskiarvo</td>
            <td>{{ aggdata.avgSpecies|number_format(1, ',') }} lajia</td>
            <td>{{ aggdata.avgIndividuals|number_format(1, ',') }} yksilöä</td>
        </tr>    
    </tfoot> 
</table>
{% else %}
    <p>Ei vielä laskentoja</p>
{% endif %}
